@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SinaisEstrangeiro-Regular';
  src: url('/SinaisEstrangeiro-Regular2.ttf') format('truetype');
}

@font-face {
  font-family: 'Sigilos-Regular';
  src: url('/Sigilos-Regular.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
